.Dropdown {
  position: absolute;
  top: 0;
  padding-top: 15px;
  padding-left: 15px;
  cursor: pointer;
}

.Dropdown__Title {
  padding: 10px;
  border: 2px solid black;
}

.Dropdown__List {
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  display: none;
  flex-direction: column;
  width: 78px;
  background: white;
  border: 2px solid black;
}

.display {
  position: absolute;
  display: flex;
}

@media (max-width: 600px) {
  .Dropdown {
    padding: 20px 0 0 20px;
  }
}